
body {
  display: flex;
  flex-direction: column;
  margin: 3em;
}

h1, h2 {
  color: #474747;
}

a {
  text-decoration: none;
}

h2 {
  margin-bottom: 0;
}

.separator {
  width: 100%;
  min-width: initial;
  height: 5px;
  border-top: 1px black solid;
  margin-bottom: 1em;
}

canvas {
  width: 1024px;
  height: 768px;
}