
body {
  background-color: black;
  display: flex;
  justify-content: center;
}

h1, h2 {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke-width: 0.5pt;
  -webkit-text-stroke-color: black;
}

canvas {
  width: 1024px;
  height: 768px;
}

.ui-container {
  position: absolute;
  margin-left: 16px;
}
